/*Marieke de Hoop - 500797554 - Klas 205 - Frontend Development - Vasilis van Gemert*/

@media screen and (max-width: 500px) {
	.menu-item-icon {
		width: 20vw;
		height: 20vw;
	}

	#header-go-home svg {
		display: inline;
	}

	#header-go-home h3:nth-of-type(2) {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	#agenda-preview {
		flex-direction: column;
		align-items: center;
	}

	#agenda-preview > div:first-of-type {
		width: 100%;
	}

	#agenda-preview > div:nth-of-type(2) {
		flex-direction: row;
		align-items: center;		
		justify-content: space-around;
		width: 80%;
	}

	#lightbox-inschrijven > div {
		width: 90vw;
	}

	form > div {
		width: 100%;
	}
}

@media screen and (max-width: 730px) {
	footer:first-of-type > section {
		width: 80vw !important;
	}

	#lightbox-inschrijven > div {
		width: 80vw;
	}
}

@media screen and (max-width: 900px) {
	.obstakel-holder > a > p {
		top: 165px;
	}

	.obstakel-holder:hover {
		transform: scale(1);
	}
}

@media screen and (min-width: 900px) {
	.menu-item-icon {
		display: none;
	}

	.menu-item > h2 {
		display: flex;
	}

	ul > li:first-of-type {
		display: flex;
	}

	header {
		margin-top: 20px;
	}
}

@media screen and (max-width: 1000px) {
	footer:first-of-type {
		flex-direction: column;
		align-items: center;
	}

	footer:first-of-type > section {
		width: 50vw;
		margin: 1em 0;
	}
}

@media screen and (min-width: 1000px) {
	form > div {
		width: 80% !important;
	}
}

