/* ALGEMEEN */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  /*Bron: https://fonts.google.com/specimen/Montserrat*/
  background-color: white;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:focus {
  color: orange;
}

button {
  background-color: #295da9;
  color: white;
  font-size: 1em;
  padding: 10px;
}

*:focus {
  outline-color: orange;
  background-color: orange;
  transition: all 0s;
}



#main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

#main-obstakel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  /*Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout*/
}

/* HEADER AND NAVIGATION */
#main-header {
  background-color: #d2382d;
  width: 100vw;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 100px;
}

ul > li:first-of-type {
  max-width: 200px;
  display: none;
  align-items: center;
  flex-direction: inherit;
}

ul > li:first-of-type > a > img {
  height: 150px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item > h2 {
  display: none;
  color: white;
  padding: 10px 0;
}

.menu-item-icon {
  max-width: 80px;
  max-height: 80px;
}

/* MOBILE HEADER AND NAVIGATION */
#mobile-header {
  background-color: #d2382d;
  width: 100vw;
}

#mobile-header > div:first-of-type {
}

#mobile-header > div:nth-of-type(2) {
}

#mobile-nav {
  width: 20vw;
  height: 20vw;
  background-color: #d2382d;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  margin-top: 10px;
}

#mobile-nav > h1 {
  display: none;
}

#menu-dot {
  background-color: white;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

#mobile-menu-item-1 {
  width: 20vw;
  height: 20vw;
  background-color: #285da9;
  border-radius: 50% 50% 0% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  transform: rotate(45deg);
}

#mobile-menu-item-1 > img {
  height: 100%;
  transform: rotate(-45deg);
}

/* INDEX - AGENDA PREVIEW */
#agenda-preview {
  background-color: #285da9;
  color: white;
  width: 85vw;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s ease-out;
  box-shadow: 0px 0px 0px grey;
  /*Bron: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
}

#agenda-preview:hover {
  box-shadow: 5px 5px 10px grey;
}

#agenda-preview > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 10px 0;
}

#agenda-preview a {
  color: white;
  text-decoration: underline;
  transition: all 0.5s ease-out;
}

#agenda-preview a:hover {
  color: #ff4539;
}

/* INDEX - OBSTAKELS */
#section-obstakels {
  width: 85vw;
  margin-top: 2rem;
}

#section-obstakels > header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

#section-obstakels > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  /*Bron:https://www.w3schools.com/css/css_grid.asp*/
  /*Bron:https://alligator.io/css/css-grid-layout-fr-unit/*/
  /*Bron:https://codepen.io/rouws/pen/xavvge?editors=1100*/
  /*Bron:https://gridbyexample.com/examples/*/
  margin: 20px 0;
}

#sorteren-dropdown > select {
  background-color: lightgray;
  border: none;
  border-radius: 0 !important;
  border-image: none;
}

/* INDEX - ACHTERGRONDAFBEELDINGEN OBSTAKELS */
.obstakel-holder {
  background-position: center;
  background-size: cover;
  height: 150px;
  /*padding: 10px;*/
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-out;
  /*Bron: https://www.w3schools.com/css/css3_transitions.asp*/
}

.obstakel-holder:hover {
  transform: scale(1.1);
  z-index: 1;
}

.obstakel-holder:hover > a > p:nth-of-type(2) {
  top: 115px;
}

.obstakel-holder > a {
  color: white;
  position: relative;
  display: block;
  height: 100%;
}

.obstakel-holder > a > p:first-of-type {
  height: 100%;
  padding: 10px;
}

.obstakel-holder > a > p:nth-of-type(2){
  position: absolute;
  top: 150px;
  width: 90vw;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  font-size: 12px;
}

#obstakel-armen {
  background-image: url(https://images.pexels.com/photos/2080544/pexels-photo-2080544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}/*Bron foto: https://www.pexels.com*/

#obstakel-benen {
  background-image: url(https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}/*Bron foto: https://www.pexels.com*/

#obstakel-buik {
  background-image: url(https://images.pexels.com/photos/196640/pexels-photo-196640.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}/*Bron foto: https://www.pexels.com*/

/* INDEX - TRAINERS */
#section-trainers {
  width: 100vw;
  background-color: #bcd0e7;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 2rem;
}

#section-trainers > h2 {
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

#trainers-fotos {
  display: flex;
  justify-content: space-between;
}

#trainers-fotos > div {
  width: 15vw;
  height: 15vw;
  background-image: url(https://images.pexels.com/photos/1618042/pexels-photo-1618042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

#trainers-fotos > div > p {
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.7);
}

/* OBSTAKEL */
#header-go-home {
  background-color: #285da9;
  padding: 10px;
  color: white;
  display: flex;
  margin: 0;
}

#header-go-home svg {
  display: none;
}

#header-go-home a {
  color: white;
  fill: white;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#header-go-home h3 {
  display: inline;
}

#header-go-home h2 {
  margin: auto;
  transform: skewY(0deg);
  /*Bron:https://www.w3schools.com/css/css3_2dtransforms.asp*/
  transition: all 1s;
}

#header-go-home h2:hover {
  transform: skewY(180deg);
  /*Bron:https://www.w3schools.com/css/css3_2dtransforms.asp*/
}

#header-go-home a:hover {
  text-decoration: none;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}

.main-section:first-of-type {
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-section:first-of-type iframe {
  max-width: 30rem;
}

.main-section:first-of-type p {
  max-width: 30rem;
  line-height: 1em;
  transition: all 0.5s ease-out;
  /*Bron: https://www.w3schools.com/css/css3_transitions.asp*/
}

.main-section:first-of-type p {
  line-height: 1.6em;
  
}

.main-section:first-of-type a {
  display: block;
  text-decoration: underline;
}

.main-section:first-of-type a:visited {
  color: black;
}

.main-section:nth-of-type(2) {
  display: flex;
  align-items: flex-start;
  max-width: 30rem;
  flex-direction: column;
}

.main-section:nth-of-type(2) > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-section:nth-of-type(2) div > div {
  background-color: #bcd0e7;
  border: 1px solid #295da9;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-out;
  /*Bron: https://www.w3schools.com/css/css3_transitions.asp*/
}

.main-section:nth-of-type(2) div > div:hover {
  transform: scale(1.1);
  z-index: 1;
}

.main-section:nth-of-type(2) div > div:nth-of-type(3) {
  background-color: white;
}

.main-section:nth-of-type(3) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3em;
  max-width: 30rem;
  flex-direction: column;
}

.main-section:nth-of-type(3) > div {
  width: 90vw;
  max-width: 30rem;
}

.main-section:nth-of-type(3) article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 50px;
  border-top: 1px solid #bcd0e7;
  margin-bottom: 10px;
}

.main-section:nth-of-type(3) article > img {
  max-width: 75px;
  max-height: 50px;
}

.main-section:nth-of-type(3) article > p {
  width: 80%;
}

.main-section:nth-of-type(3) article > p:nth-of-type(2) {
  font-size: 0.8em;
}

.main-section:nth-of-type(3) button {
  width: 100%;
  border: none;
  box-shadow: 5px 5px 0px #1a3c6f;
  /*Bron: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
  transition: all 0.5s ease-out;
  /*Bron: https://www.w3schools.com/css/css3_transitions.asp*/
}

.main-section:nth-of-type(3) button:hover {
  box-shadow: 0px 0px 0px #1a3c6f;
  /*Bron: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
  background-color: #1a3c6f;
}

.main-section:nth-of-type(3) button:active {
  background-color: orange;
}

/* NAVIGATION MOBILE (OLD) */
footer {
  position: fixed;
  bottom: 4vh;
  right: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* FEEST EN GEKKIGHEID */
.feest {
  background-image: url("../images/confetti.gif");
}

@keyframes flickerAnimation {
  0% {background-color: orange;}
  50% {background-color: hotpink;}
  100% {background-color:yellow;}
  /*Bron: https://codepen.io/engsiang/pen/eWeNOP*/
}

.knipperen {
  animation: flickerAnimation .5s infinite !important;
  /*Bron: https://codepen.io/engsiang/pen/eWeNOP*/
}



